<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript" src="@routes.ClientAPI.javascriptRoutes"></script>
    <script type="text/javascript">



        function WebSocketTest()
        {
            if ("WebSocket" in window)
            {

                // Let us open a web socket
                var r = jsRoutes.controllers.ClientAPI.monitorSocket();

                var ws = new WebSocket(r.webSocketURL());

                ws.onopen = function()
                {

                    // Web Socket is connected, send data using send()
                    //ws.send("Message to send");
                    //alert("Message is sent...");
                };

                ws.onmessage = function (evt)
                {
                    //TODO: This should be a json, not a string
                    var data = JSON.parse(evt.data);
                    document.getElementById("json").innerHTML = JSON.stringify(data, undefined, 2);
                };

                ws.onclose = function()
                {
                    // websocket is closed.
                    //alert("Connection is closed...");
                };
            }

            else
            {
                // The browser doesn't support WebSocket
                alert("WebSocket NOT supported by your Browser!");
            }
        }

        window.onload = function(e){
            WebSocketTest();
        }
    </script>

</head>
<body>
    <pre id="json"></pre>
</body>
</html>