
<div class="container">
    <div class="row">
        @views.html.spinner("isLoginWorking()")
    </div>

  <form class="form-signin" role="form" ng-hide="isLoginWorking()">
    <h2 class="form-signin-heading col-xs-8 col-xs-offset-2" ng-hide="isLoginWorking()">CheckIn</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" ng-model="username" class="form-control" placeholder="username"  autofocus name="username" required>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" ng-model="password" class="form-control" placeholder="Password"  name="password" required>
    <input class="btn btn-lg btn-primary btn-block" type="submit" name="Sign in" ng-click="submit(username,password)"></input>
  </form>
    <div class="row" ng-hide="isLoginWorking()">
        @views.html.errorTemplate("errors.login")
    </div>
</div>